.popup {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(220, 220, 223);
    
    display: flex;
    justify-content: center;
    align-items: center;
}   

.popup-inner {
    position: fixed;
    padding-top: 20px;
    top: 30px;
    width: 100%;
    max-width: 90%;
    background-color: white;
    border-radius: 5px;

}

.blue-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, rgb(130, 204, 253) , rgb(5, 94, 227));
    
}

.details {
    padding-top: 20px;
    padding-left: 15px;
    color: grey;
}

Form {
    padding: 0px 32px 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 1em 0;
    padding: 0;
}

.hr-bottom {
    margin-bottom: 30px;
}

