body {
  margin: 0%;
  background-color: #3a3d57;
}

.logo {
  margin: 1.5625rem 0 3.125rem;
  cursor: pointer;
  width: 170px;
}

* {
  box-sizing: border-box;
}



.article-image {
    position: relative;
    top: 120;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    z-index: 5;
}

.nav-bar {
  background-color: aqua;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: var(--twn-menuWidth);
  padding: 1.5625rem;
  height: 100vh;
  z-index: 900;
  overflow: auto;
  text-align: right;
}

.nav-bar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  background-color: #3a3d57;
  background-repeat: no-repeat;
  background-position: var(--twn-menuWidth) bottom, 100% 0;
  background-size: 150px, 250px;
  background-attachment: fixed;
  display: block;
  margin-left: 220px;
  height: 100vh;
  overflow: auto;
  padding: 5rem 2.5rem;
  text-align: center;
}

.inline {
  max-width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
}

.inline,
.page {
  position: relative;
}

div {
  display: block;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

.pink-btn {
    background: rgb(254, 28, 239);
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 700;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffffdf;
}

h1 {
  font-size: 2.8125rem;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.intro {
  font-weight: 900;
  font-size: 16px;
}

p {
  color: #ffffffdf;
  margin: 2.5rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Tabel */
table {
  display: table;
  border-collapse: collapse;
  min-width: 100%;
  font-size: 1rem;
  table-layout: fixed;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: #fff;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-bottom: 1px solid rgb(249, 249, 249);
}

th {
  display: table-cell;
  width: 20%;
  color: #ffffffdf;
  text-align: left;
  padding: .625rem 1rem;
  background-color: rgb(50, 50, 50);
}
td {
  text-align: left;
  color: #ffffffdf;
  padding: .625rem 1rem;
  width: 20%;
  /* border-bottom: #fff 0.625rem solid; */

}

.tr-pop {
  border: 1px solid red;
  background-color: white;
  height: 300px;
}


.td-data {
  display: flex;
  text-align: center;
}

.td-img {
    width: 200px;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0;
    background: center center no-repeat;
    background-size: cover;
    margin: .375rem;
    background-color: #f1f1f1;
}

.td-text {
  padding-left: 1rem;
  max-height: 3.5em;
  overflow: hidden;
  position: relative;
  color: black;
  text-align: left;
}




.my-fa-icon {
  /* background-color: #3a3d57; */
  margin: 5px;
}

.my-fa-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sortBtns {
  border: 1px solid red;
}

.game {
  text-align: center;
}