.App {
  text-align: center;
}

.map {
  height: 400px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  border-radius: 14px;
  box-shadow: 5px 5px 5px 5px gray;
}

.map-btn {
  margin-top: 60px;
}

body {
  width: 100%;
  background-color: white;
}

Nav.Link {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

.gold-btn {
  background-color: lightgray;
  color: black;
  box-shadow: 6px 4px 5px rgb(29, 29, 29);
}

.admin-buttons {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

.admin-button {
  margin: 2px;
}

/* HOMEPAGE */


.homePage-img-container {
  display: block;
  width: 100%;
  height: 60vh;
}

.homePageCards {
  width: 100%;
  margin: auto;
  height: auto;
}

.homepage-objects {
  width: 60%;
  margin: auto;
}

.all-objects {
  text-align: left;
  text-decoration: none;
  color: black;
}

.all-objects:hover {
  text-decoration: underline;
}

.services {
  width: 60%;
  margin: auto;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.services p {
  text-decoration: underline;
  font-size: 1.6em;
}

/* CONTACTS */
.contact-img {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 5px 5px gray;
}

.office-img {
  width: 100%;
  
}

/* CARDS */
.homePageCard {
  width: 400px;
  height: auto;
}

.card_title {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.993);
  z-index: 5;
  writing-mode: vertical;
  text-orientation: upright;
  text-align: start !important;
}

/* ARHITEKTUUR */
.architecture-img-container {
  width: auto;
  background-color: lightgrey;
}

/* INTERIOR */
.interior-projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

.interior-card-container {
  width: 33%;
  height: auto;
  margin: 5px;
}

/* MANAGE PROJECTS */
.manage_project {
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px gray;
}

/* MANAGE PRODUCTS */
.product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* margin: 0 2%;
  margin: 5px 5px; */
  margin-right: 5px;
}

.product-card {
  height: 500px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 2px gray;
}

.product-img {
  padding: 30px;
  height: 160px;
  width: auto;
  transition: 0.5s;
}

.product-title {
  height: 50px;
}

.product-description {
  height: 60px;
}

.product-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* PROJECT PAGE */
.project-img-container {
  display: block;
  justify-content: center;
}

.project-img-small-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: auto;
}
/* 198.75 x 132.5*/
.project-img-small {
  width: 20%;
  height: auto;
  margin: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.project-info {
  text-align: left;
  margin: auto;
  width: 50%;
}

.project-card-title {
  margin-top: 5px;
  margin-left: 20px;
  text-align: right;
  font-size: 20px;
  z-index: 5;
  text-align: start !important;
  color: black;
  border-bottom: none;
}

.project-extra-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: center;
}

.extra-card-container {
  width: auto;
  height: auto;
  margin: 5px;
  margin-bottom: 20px;
}

.email-form {
  margin-top: 120px;
  margin-bottom: 250px;
}
/* SERVICES */

.services-text {
  margin-top: 60px;
}

.footer {
  margin-top: 200px;
}
